@charset "UTF-8";

/*paleta de cores
    rosa clarinho: #e6716a
    escuro:d05f57
    meio que cinza: #c2baaf
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #d05f57;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background:  #d05f57 url(../imagens/login-recorte.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}
section#login div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
div.campo > i{
    padding: 5px;
    width: 40px;
}
div.campo > input{
    background-color: #D7D9D8;
    height: 100%;
    border: none;
    border-radius: 5px;
    margin-left:26px ;
    padding: 4px;
    transform: translateY(-5px);
}
div.campo > input:focus-within{
    background-color: white;
    
}
form > div.campo{
    background-color: #A64037;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    height: 40px;
    width: 100%;
    color: white;
    background-color: #d05f57;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #92433dad;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #e6716a;
    color: #363636ec;
    border: 1px solid #d05f57 ;
    border-radius: 5px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color:#92433dad ;
}
form > a.botao > i{
    font-size: 0.8em;
}